@import url('https://fonts.googleapis.com/css?family=Roboto');
.nav-tab {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    display: inline-block;
    font-size:18px;
    padding: 10px 25px;
    color: #bbb;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    margin:'10 10 10 10'
}

.nav-tab:hover {
    background-color: rgb(238, 241, 241);
}

.nav-tab.active {
    background-color: #fff;
    color: #555;
    border: 1px solid #ddd;
    border-top: 1px solid #fff;
    border-bottom: 2px solid #62A8EA;
    cursor: default;
    text-decoration: none
}